{% extends 'blog/base2.html' %}

{% block content %}
<br>

  

  

<main class="container">


  {% for post in posts %}
  <section>
          <div class="row">
            <div class="leftcolumn">
              <div class="card-blog">
               
                <img src="{{ post.title_image.url }}" alt="" id="blog-img">
                <h4 class="blog-heading">{{ post.title }}</h4>
<p class="blog-text">{{ post.content|safe|truncatewords:"50" }}</p>
<a href="{% url 'blog:post-detail' post.id %}" class="anchor-design blog-text">Read More...</a>    
</div>
</div>
</div>
</section>
    
    
  {% endfor %}
</main>
{% if posts.has_other_pages %}
  <ul class="pagination">
    {% if posts.has_previous %}
      <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in posts.paginator.page_range %}
      {% if posts.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a style="color: black;" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if posts.has_next %}
      <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}

