{% extends 'core/base.html' %}
{% load static %}

{% block content %}
      <main>
        <section>
          <div class="row">
            <div class="leftcolumn">
              <div class="card-blog">
                <h2 class="blog-heading">Dental Implant</h2>
                <div class="blog-img" style="height:10px;">
                 
                </div>
                <p class="blog-text">Healing Touch Dental Hospital offers Life Time Warranty for Dental Implants from Nobel Biocare Switzerland and Biohorizons U.S.A.
                  Since 2007 Healing Touch Dental Hospital has been providing this service and till now we feel proud to tell that more than 2000 patients have been benefited with dental implants.</p>

                  <h3 class="blog-heading">Here is some little knowledge regarding dental implants</h3>

                  <p class="blog-text">Today, if you lose one or more teeth, you now have options beyond bridges and partial dentures. One of those options is dental implants. Dental implants are titanium fixtures that are surgically screwed into the jaw bone and are used to anchor natural-looking false teeth. 
                    Since the bone grows around the implant, the result is a smile that not only looks completely natural, but one that feels and functions more like your own teeth. Dental implants are not only an option for patients who lose one tooth. Patients who are missing most, if not all, of their teeth can
                     greatly enjoy the benefits as well. Unlike dentures and removable bridges, which are usually loose and unstable, dental implants provide a permanent replacement. Implants look and feel much better than dentures and traditional removable bridges, and offer the same force for biting as bridges that are fixed in place. 
                    Since this is surgery, we spend the necessary time to inform you of all the details, including the risks, regarding dental implant surgery.</p>
                  
                  <img src="{% static 'assets/dental-impant.jpg' %}" alt="" id="blog-img">
                  <img src="{% static 'assets/dental-impant2.jpg' %}" alt="" id="blog-img">
                  <img src="{% static 'assets/resultImg.jpg' %}" alt="" id="blog-img">
                  <h3 class="blog-heading">Why Choose
                    Healing Touch Dental Hospital and Implant Centre ?</h3>

                    <p class="blog-text">At Healing Touch Dental Hospital and Implant Centre our passion is providing our patients with genuine care and excellent dentistry every single day. 
                      Our specially trained staff can serve you in all your oral health needs.</p>

                      <h6 class="blog-heading">Implant Expertise</h6>
                      
                      <img src="{% static 'assets/implantsvg.png' %}" alt="" id="blog-img" class="svg-size">
                     
                    <p class="blog-text text-center">When you think of getting dental implants, think of the implant specialist –your Periodontist & Implantologist Specialized surgical expertise and a thorough understanding of both aesthetics and function uniquely
                       qualify Periodontist and Prosthodontist to help restore your smile.</p>

                        <h6 class="blog-heading">Advanced Facilities</h6>
                      
                      <img src="{% static 'assets/implantsvg1.png' %}" alt="" id="blog-img" class="svg-size">
                     
                    <p class="blog-text text-center">>We make a commitment to invest in not only ourselves through continuing education, but also our practice to provide the most up-to-date equipment including 3D Implant software, Physiodispensor, Piezo Surgery Unit, Dental Laser unit exclusively for our dentists to use to ensure we are able
                      to provide the highest standards of clinical and patient care.</p>

                        <h6 class="blog-heading">Patient Care and Safety</h6>
                      
                      <img src="{% static 'assets/implantsvg2.png' %}" alt="" id="blog-img" class="svg-size">
                     
                    <p class="blog-text text-center">At Healing Touch Dental Hospital and Implant Centre, 
                      we are committed to providing our patients with a safe patient care experience.</p>

                        <h6 class="blog-heading">Lifetime Warranty</h6>
                      
                      <img src="{% static 'assets/implantsvg3.png' %}" alt="" id="blog-img" class="svg-size">
                     
                    <p class="blog-text text-center">Healing Touch Dental Hospital offers Life Time Warranty for Dental
                       Implants from Nobel Biocare Switzerland and Biohorizons U.S.A.</p>
              </div>
             
            </div>
           
          </div>
        </section>
      </main>

{% endblock content %}