{% extends 'core/base.html' %}
{% load static %}

{% block content %}
      <main>
       <section class="gallery-section">
       
         <a href="{% static 'before-after.html' %}"> <div class="gallery-img">
            <p class="text">Before And After</p>
          </div>
         </a>
          <a href="{% static 'our-setup.html' %}">  <div class=" gallery-img2">
              <p class="text">Our Setup</p>
            </div></a>
    
            
       </section>
      </main>

{% endblock content %}