{% extends 'core/base.html' %}
{% load static %}
{% block content %}


 <main>
        <section>
          <div class="row">
            <div class="leftcolumn">
              <div class="card-blog">
                 
                <h2 class="blog-heading">Treatment facilities</h2>
               
                 
             
                <p class="blog-text">At Healing Touch Dental Hospital and Implant Centre, we provide complete dental care solutions to array of dental problems like Missing teeth with Dental Implants, Single day unbreakable complete dentures, Implant Supported full mouth prosthesis, Laser assisted periodontal surgeries, teeth whitening, Gingival depigmentation, Single sitting root canal therapy, Cosmetic Smile Design using veneers, braces, Teeth aligners and also various cosmetic and maxillofacial 
                    surgical procedures all under one roof.</p>
                   


                  <h3 class="blog-heading">Tooth Replacement with Dental Implants (Nobel Biocare, Biohorizons, Dentium, Alpha Bio, Adin)</h3>

                  <ul class="treatment-list">
                      <li>Full Mouth Rehabilitation</li>
                      <li>Implant bridges</li>
                      <li>Implant Overdenture</li>
                      <li>Lifetime warranty on Selected Impalnt System</li>
                      <li>Single Dental Implant</li>
                  </ul>
                  <h3 class="blog-heading">Dental Lasers</h3>

                  <ul class="treatment-list">
                      <li>All Gum Surgeries (Painless and bloodless)</li>
                      <li>Gum Depigmentation</li>
                      <li>Root Canal Treatment</li>
                      <li>Dentistry of Kids</li>
                      <li>Teeth Whitening</li>
                      <li>Treatment of all Oral Ulcers, Cysts & Tumours</li>
                      <li>Jaw Pain treatment with Lasers</li>
                      <li>Laser assisted Implant Surgeries</li>
                  </ul>

                  <h3 class="blog-heading">Cosmetic Dentistry</h3>

                  <ul class="treatment-list">
                      <li>Smile Make Over</li>
                      <li>Dental Veneers</li>
                      <li>Dental Jewellery</li>
                      <li>Composite Bonding</li>
                      <li>Straightening of teeth with or without Braces</li>
                      <li>Invisalign</li>
                      <li>Zoom Teeth Whitening</li>
                  </ul>

                  <h3 class="blog-heading">Denture</h3>

                  <ul class="treatment-list">
                      <li>Complete Denture in a single day</li>
                      <li>Cost partial Denture</li>
                      <li>Elastic Denture</li>
                      <li>Dentures with Precision attactments</li>
                  </ul>

                  <h3 class="blog-heading">General Dentistry</h3>

                  <ul class="treatment-list">
                      <li>Scaling and Air Polishing</li>
                      <li>Tooth-Colored Filling</li>
                      <li>Metal Free Crowns & Bridges</li>
                      <li>Ceramic & Lingual Braces</li>
                      <li>Wisdom Tooth Removal</li>
                      <li>Cosmetic fixation of mobile teeth</li>
                      <li>Complete child dental treatment</li>
                      <li>All Dental Surgeries</li>
                  </ul>

                  <h3 class="blog-heading">Oral & Gum Surgeries</h3>

                  <ul class="treatment-list">
                      <li>Root planing</li>
                      <li>Scaling</li>
                      <li>All type of Gum Surgeries</li>
                      <li>Dentures with Precision attactments</li>
                  </ul>
                  
                  
                  
              </div>
             
            </div>
           
          </div>
        </section>
      </main>


{% endblock content %}