@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Muli:wght@800&family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
* {
  box-sizing: border-box;
}

header,
section {
  overflow-x: hidden;
}

:root {
  --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --light-black: #2e2c2caf;
  --bggradient: linear-gradient(to bottom,  #114357, #1cefff);
  --light-gray: rgba(255, 255, 255, 0.877);
  --Crimson: "Crimson Text", serif;
  --Condens: "Open Sans Condens ed", sans-serif;
  --Muli: "Muli", sans-serif;
  --Varela: "Varela", sans-serif;
}

header a {
  font-family: var(--Condens);
  font-size: 0.9em;
  color: whitesmoke;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


.logo{
  height: 2rem;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header .nav-item:last-child {
  padding-right: 10.5em;
}

header .nav-item {
  padding: 0.9em;
}

header .navbar-brand {
  padding-left: 8rem;
}

header .nav-link:hover {
  color: black;
}

header .row .col-md-7 {
  padding: 22vmin 1vmin;
  padding-bottom: 35vmin;
}

header .row .col-md-5 {
  padding: 4.2vmin 1vmin;
}

header .row .col-md-5 img {
  width: 100%;
  height: 100%;
}

header {
  background: linear-gradient(123deg, rgba(49,24,131,0.4) 0%, rgba(110, 89, 216, 0.2)100%), url("assets/dental-health-care-website-header.jpg") no-repeat;
  background-size:cover;
 

}

header .container .col-md-7 {
  font-family:var(--Muli);
  font-weight: bolder;
}

header .container .col-md-7 h6 {
  padding: 1vmin;
  letter-spacing: 4px;
}

header .container .col-md-7 h1 {
  font-size: 8.5vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}

header .container .col-md-7 p {
  padding: 1vmin 5vmin;
}

.primary-btn {
  border-radius: 12px;
  font-weight: bold;
  opacity: .7;
  font-family: var(--Varela);
}

/********** section 1 **************/

.section-1 {
  padding-top: 10vmin;
  padding-bottom: 60vmin;
}

.section-1 .row .col-md-6 .pray img {
  opacity: 0.8;
  width: 90%;
  border-radius: 0.2em;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
}

.section-1 .row .col-md-6:last-child {
  position: relative;
}

.section-1 .row .col-md-6 .panel {
  position: absolute;
  top: 7vmin;
  left: -18vmin;
  background: white;
  border-radius: 3px;
  text-align: left;
  padding: 13vmin 5vmin 20vmin 10vmin;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
  font-family: var(--Varela);
  z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
  font-weight: bold;
  padding: 0.4em 0;
  font-size: 2em;
}

.section-1 .row .col-md-6 .panel p {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
}

/*  Section 2  */

.cover {
  width: 100%;
  height: 55vmin;
  background: url("assets/resultImg.jpg") no-repeat;
  background-position: -24rem -19rem;
  background-size: 120%;
  position: relative;
}

.cover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.cover .content {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding-top: 19vmin;
}

.cover .content > h1 {
  font-family: var(--Varela);
  font-size: 6vmin;
  color: whitesmoke;
}

.cover .content > p {
  font-family: var(--Varela);
  font-size: 2vmin;
  color: #e5e5e5;
}

.numbers .rect {
  position: relative;
  z-index: 1;
  background: white;
  width: 17rem;
  height: 12rem;
  padding-top: 3.5vmin;
  margin: 1rem;
  border-radius: 0.5em;
  box-shadow: 1px 2px 50px 0px rgba(18, 161, 218, 0.349);
}

.numbers {
  margin-top: -15vmin;
}

.numbers .rect h1 {
  font-size: 5rem;
  color: tomato;
}

.numbers .rect > p {
  font-family: var(--Varela);
}

.purchase > h1 {
  padding-top: 15vmin;
  padding-bottom: 0.1em;
  font-family: var(--Varela);
}

.purchase > p {
  color: var(--light-black);
  font-size: 3vmin;
  padding-bottom: 10vmin;
}

.purchase .cards .card {
  width: 22rem;
  margin: 3vmin 3vmin;
}

.cards div {
  padding: 0;
  margin: 0;
}

.cards .title {
  background: rgba(208, 241, 241, 0.199);
  padding: 1.4em 2.5em;
  font-size: 2vmin;
}

.card .card-text {
  padding: 2.5rem 3rem;
  color: var(--light-black);
}

.card-body .pricing {
  background: rgba(208, 241, 241, 0.199);
  border-top-right-radius: 170px;
  border-top-left-radius: 170px;
}

.card-body .pricing > h1 {
  font-size: 10vmin;
  padding: 1em 0.5em;
}

/* Section 3 */

.section-3 {
  height: 70vmin;
  margin-top: 15vmin;
  background: var(--bggradient);
}

.section-3 .col-md-12 > h1 {
  padding: 2em 0 0.5em 0;
  color: whitesmoke;
  font-size: 6vmin;
}

.section-3 .col-md-12 > p {
  padding: 0 4em;
  padding-bottom: 2em;
  color: var(--light-gray);
  font-size: 3vmin;
}




.section-3 img{
  width: 100%;
}

/* Section Team */

.section-4 .container h1 {
  font-size: 6vmin;
  padding-top: 14vmin;
}

.section-4 .team {
  padding: 10vmin 4vmin;
}

.section-4 .card {
  width: 22em;
  margin-top: 10vmin;
}

.section-4 .card .card-text {
  padding: 0.5em;
}

.section-4 .card-body > a {
  font-size: 1.5em;
}

.section-4 .carousel-item {
  padding-left: 3rem;
}

.border-radius {
  border-radius: 340px;
  width: 60%;
}

/*Section Blog*/
.post-slider{
  border: 1px solid red;
}

.post-slider .post-wrapper{
  width: 84%;
  height: 350px;
  margin: 0 auto;
  border: 1px dashed red;
  overflow:hidden;
}

.post-slider .post-wrapper .post{
  width: 300px;
  height: 350px;
  display: inline-block;
  background-color: aqua;
}














/*Footer Begins*/
footer {
  background: rgba(0, 0, 0, 0.815);
  overflow-x: hidden;
  padding: 14vmin 18vmin;
}

footer p > span {
  color: #ff512f;
}

footer input {
  border: none !important;
}

footer input::placeholder {
  color: white !important;
}

footer .input-group .input-group-text {
  background: var(--bggradient);
  border: none;
}

footer .column i {
  color: #dd2476;
}


footer .column i + i {
  padding: 0 0.5em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.815);
  z-index: 9999;
  transition: all 1.5s ease;
}



/*Dental Implant Section*/
#blog-img{
 display: block;
  width: 50%;
  padding: 2rem;
  margin-left: auto;
  margin-right:auto ;
}




.card-blog {
  background-color: whitesmoke;
  padding: 20px;
  margin: 2rem !important;
  border-radius: .5rem;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
  display: block;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.blog-heading{
  font-family: var(--Muli);
  padding-bottom: 1rem;
  color: var(--light-black);
  text-align: center;
}

.blog-text{
  font-family: var(--Varela);
  padding-bottom: 10px;
  color: var(--light-black);
}

.svg-size{
  display: block;
  margin-left: auto;
margin-right: auto;
width: 20% !important;
}

.anchor-design{
  color: black;
}





.gallery-img {
  margin: 3rem;
  display: block;
  position: relative;
  margin-left: auto;
margin-right: auto;
width: 20rem;
  height: 20rem;
  cursor: pointer;
  background: url("assets/our-Setup.jpg") no-repeat 100% 50%;
  background-size: 110%;

  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.75);
}
.gallery-img:hover {
  box-shadow: 0px 0.5rem 2rem rgba(0, 0, 0, 0.75);
  background-position: 0% 50%;
}
.gallery-img:hover .text {
  -webkit-transform: rotate(-45deg) translate(0px) rotate(-315deg);
          transform: rotate(-45deg) translate(0px) rotate(-315deg);
  background: rgba(102, 51, 153, 0.5);
  width: 20rem;
  letter-spacing: 1rem;
  line-height: 10rem;
  height: 20rem;
  margin-top: -10rem;
  margin-left: -10rem;
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1), letter-spacing 1.5s ease-out;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1), letter-spacing 1.5s ease-out;
}
.gallery-img .text {
  display: block;
  position: absolute;
  width: 10rem;
  height: 10rem;
  line-height: 4rem;
  left: 50%;
  top: 50%;
  margin-top: -5rem;
  margin-left: -5rem;
  font-size: 2rem;
  font-family: var(--Varela);
  text-align: center;
  color: #fff;
  
  background: rgba(102, 51, 153, 0.493);
  -webkit-transform: rotate(-180deg) translate(-10rem) rotate(180deg);
          transform: rotate(-180deg) translate(-10rem) rotate(180deg);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}


.gallery-img2 {
  margin: 3rem;
  display: block;
  position: relative;
  margin-left: auto;
margin-right: auto;
width: 20rem;
  height: 20rem;
  cursor: pointer;
  background: url("assets/bannerImage.jpg") no-repeat 100% 50%;
  background-size: 110%;

  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.75);
}
.gallery-img2:hover {
  box-shadow: 0px 0.5rem 2rem rgba(0, 0, 0, 0.75);
  background-position: 0% 50%;
}
.gallery-img2:hover .text {
  -webkit-transform: rotate(-45deg) translate(0px) rotate(-315deg);
          transform: rotate(-45deg) translate(0px) rotate(-315deg);
  background: rgba(102, 51, 153, 0.5);
  width: 20rem;
  letter-spacing: 1rem;
  line-height: 10rem;
  height: 20rem;
  margin-top: -10rem;
  margin-left: -10rem;
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1), letter-spacing 1.5s ease-out;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1), letter-spacing 1.5s ease-out;
}
.gallery-img2 .text {
  display: block;
  position: absolute;
  width: 10rem;
  height: 10rem;
  line-height: 4rem;
  left: 50%;
  top: 50%;
  margin-top: -5rem;
  margin-left: -5rem;
  font-size: 2rem;
  font-family: var(--Varela);
  text-align: center;
  color: #fff;
  
  background: rgba(102, 51, 153, 0.493);
  -webkit-transform: rotate(-180deg) translate(-10rem) rotate(180deg);
          transform: rotate(-180deg) translate(-10rem) rotate(180deg);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}


.beforeAfter-section{
  display: block;

  margin-left: auto;
  margin-right: auto;
      width: 100%;
}